<div class="">
    <h1>Edit Wiki</h1>

    <div class="row">
        <div class="col-md-4">
            <p>Guidelines for wikis:</p>
            <ul>
                <li>Make sure it rhymes.</li>
                <li>Don't use the letter "A".</li>
                <li>The incessant use of hashtags will get you banned.</li>
            </ul>
        </div>
        <div class="col-md-8">
            <%= render 'form' %>
            <% if @wiki.user == current_user || current_user.try(:admin?) #current_user || current_user.admin? %>
              <%= link_to "Manage collaborators", wiki_collaborators_path(@wiki), class: "btn btn-info" %>
            <% end %>
            <%= link_to 'Back', wikis_path, class: "pull-right" %>
            <% if @wiki.user == current_user || current_user.try(:admin?) %>
              <%= link_to 'Delete', @wiki, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' }  %>
            <% end %>
        </div>
    </div>
</div>


